.main-container {
  display: grid;
  grid-gap: 50px;
  width: 60%;
  margin: 0 auto;
}

.blog-post {
  display: flex;
  flex-direction: column;
  padding: 20px;
  line-height: 2em;
  border: 5px solid #e5e7ea;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #eee;
}

.world {
  color: #0074fe;
  font-weight: 600;
}

.design {
  color: #29a948;
  font-weight: 600;
}

.article {
  margin: 0.5em 0 2em;
}

.date {
  color: #818890;
}

@media (min-width: 960px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}